{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "httpgate.fullname" . }}
  labels:
    {{- include "httpgate.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    {{- $host := .host }}
    {{- if not (hasPrefix "*." $host) }}
    {{- $host = printf "*.%s" $host }}
    {{- end }}
    - host: {{ $host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "httpgate.fullname" $ }}
                port:
                  number: {{ $.Values.httpPort }}
          {{- end }}
    {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        {{- $tlsHost := . }}
        {{- if not (hasPrefix "*." $tlsHost) }}
        {{- $tlsHost = printf "*.%s" $tlsHost }}
        {{- end }}
        - {{ $tlsHost | quote }}
        {{- end }}
      {{- if .secretName }}
      secretName: {{ .secretName }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
